@CHARSET "UTF-8";
div.detail {
	float: left;
	width: 40%;
}
table.user-detail {
	border: 0 none;
	border-collapse: separate;
}
table.user-detail td {
	border: 0 none;
	padding: 3px 5px;
}
table.user-detail td:first-child {
	color: #297ECC;
	text-align: right;
	border: 0 none;
}
table.user-detail td:last-child {
	font-size: larger;
	border: 0 none;
	padding-left: 5px;
}
div.projects {
	overflow: hidden;
}
.proj {
	border-bottom: 1px dotted #999;
	padding: 5px 10px;
}
.proj:hover {
	background-color: #F9EEFF;
}
.proj .name {
	font-size: larger;
	padding-bottom: 5px;
}
.proj .desc {
	padding-bottom: 5px;
}
.proj span.label {
	color: #297ECC;
}